---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";
import Developers from "../components/Developers.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Showcase />
    <Features />
    <Developers />
    <FAQ />
  </main>
  <Footer />
</Layout>
